<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    
    <div class="row">
        <div class="col-md-12">
          <h2><b>Latest Mars News</b></h2>
          <h4><b>{{ mars.title }}</b></h4>
          <h5>{{ mars.paragraph }}</h5>
        </div>
    
        <div class="col-sm-4 col-md-8">
            <h2><b>Featured Mars Image</b></h2>
            <div>
                <img src="{{ mars.feature_image_url }}" class="image-fluid alt="Featured image">
            </div>
        </div>
        <div class="col-sm-2 col-md-4">
            <a target="_blank" href="mars_data.html|safe"></a>
        </div>
        <div class="col-md-12">
          <h2 class="text-center"><b>Mars Hemispheres</b></h2>
          <hr>
          <div class="container">
            <!-- <h3 class="text-center">Thumbnails</h3> -->
              <div class="row">
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <img src="mars." alt="..." class="img-thumbnail" target="_blank" alt="Cerberus Hemisphere Enhanced">
                    </div>
                    <div class="caption">
                        <h3><b>Cerberus<br>Hemisphere<br>Enhanced</b></h3>
                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="thumbnail">
                        <img src="mars." alt="..." class="img-thumbnail" target="_blank" alt ="Schiaparelli Hemisphere Enhanced">
                      </div>
                    <div class="caption">
                        <h3><b>Schiaparelli<br>Hemisphere<br>Enhanced</b></h3>
                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="thumbnail">
                        <img src="mars." alt="..." class="img-thumbnail" target="_blank" alt="Syrtis Major Hemisphere Enhanced">
                      </div>
                      <div class="caption">
                          <h3><b>Syrtis Major<br>Hemisphere<br>Enhanced</b></h3>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="thumbnail">
                        <img src="mars." alt="..." class="img-thumbnail" target="_blank" alt="Valles Mariners Hemisphere Enhanced">
                      </div>
                      <div class="caption">
                          <h3><b>Valles Mariners<br>Hemisphere<br>Enhanced</b></h3>
                      </div>
                  </div>
          </div>

  </div>
</body>

</html>